### Prediction for readmission
It is important to know if a patient will be readmitted to a hospital. This will help doctors change treatment to avoid readmission

In [6]:
# get count of the distinct values in target
dataset.diabetesMed.value_counts()

Yes    78363
No     23403
Name: diabetesMed, dtype: int64

In [7]:
# get the number of rows and columns
dataset.shape

(101766, 50)

### Determine the best features to use for training
#### Avoid using noise

In [8]:
# feature_set = dataset.drop(['encounter_id', 'patient_nbr', 'race','A1Cresult' ,'weight', 'age', 'admission_type_id', 'admission_source_id', 'payer_code', 'medical_specialty', 'readmitted', 'max_glu_serum'], axis=1)

In [9]:
feature_set = dataset[['insulin','diabetesMed']]

In [10]:
feature_set.tail(10)

       insulin diabetesMed
101756  Steady         Yes
101757  Steady         Yes
101758      Up         Yes
101759      Up         Yes
101760    Down         Yes
101761    Down         Yes
101762  Steady         Yes
101763    Down         Yes
101764      Up         Yes
101765      No          No

In [11]:
feature_set.replace({'Yes':1,'No':0,'Steady':1, 'Down':2, 'Up':3, 'Ch':1},inplace=True)
type(feature_set)

C:\Users\brian\Anaconda3\lib\site-packages\pandas\core\generic.py:3836: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  limit=limit, regex=regex)

pandas.core.frame.DataFrame

In [12]:
feature_set.head(5)

   insulin  diabetesMed
0        0            0
1        3            1
2        0            1
3        3            1
4        1            1

In [13]:
y.head(5)

NameError: name 'y' is not defined

In [ ]:
y = dataset['readmitted']
y = y.replace({'NO':0, '<30': 1, '>30':2})

In [ ]:
X = feature_set

In [ ]:
print(X.shape)
print(y.shape)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Linear regression in scikit-learn

In [ ]:
# import model
from sklearn.linear_model import LogisticRegression

# instantiate
linreg = LogisticRegression()

# fit the model to the training data (learn the coefficients)
linreg.fit(X_train, y_train)

In [ ]:
# make predictions on the testing set
y_pred = linreg.predict(X_test)

In [ ]:
y_pred

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report
metrics.accuracy_score(y_test, y_pred)
print(classification_report(y_test, y_pred))

### Knn

In [ ]:
# import the class
from sklearn.neighbors import KNeighborsClassifier

# instantiate the model (with the default parameters)
knn = KNeighborsClassifier()

# fit the model with data (occurs in-place)
knn.fit(X_train, y_train)

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report
metrics.accuracy_score(y_test, y_pred)
print(classification_report(y_test, y_pred))

# New

In [1]:
import numpy as np
import pandas as pd

path = './dataset_diabetes/diabetic_data.csv'
diabetes_dataset = pd.read_csv(path, na_values='?') # sets values containg ? as nan

C:\Users\brian\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
print(diabetes_dataset.shape)
diabetes_dataset.head(5)

(101766, 50)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [3]:
# Drop columns with nan values
diabetes_dataset = diabetes_dataset.dropna(axis=1, how='any')
# View diabetes dataset
print(diabetes_dataset.shape)
diabetes_dataset.head(5)

(101766, 43)

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Female,[0-10),6,25,1,1,41,0,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Female,[10-20),1,1,7,3,59,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,Female,[20-30),1,1,7,2,11,5,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Male,[30-40),1,1,7,2,44,1,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Male,[40-50),1,1,7,1,51,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
# Do away with un-informative columns [encounter_id, patient_nbr]
diabetes_dataset = diabetes_dataset.drop(['encounter_id', 'patient_nbr'] , axis=1);

In [5]:
# Refactor the age range to a single integer value. (Making the learning process easier, avoid fitting errors)
diabetes_dataset.loc[diabetes_dataset.age== '[0-10)','age'] = 0;
diabetes_dataset.loc[diabetes_dataset.age== '[10-20)','age'] = 10;
diabetes_dataset.loc[diabetes_dataset.age== '[20-30)','age'] = 20;
diabetes_dataset.loc[diabetes_dataset.age== '[30-40)','age'] = 30;
diabetes_dataset.loc[diabetes_dataset.age== '[40-50)','age'] = 40;
diabetes_dataset.loc[diabetes_dataset.age== '[50-60)','age'] = 50;
diabetes_dataset.loc[diabetes_dataset.age== '[60-70)','age'] = 60;
diabetes_dataset.loc[diabetes_dataset.age== '[70-80)','age'] = 70;
diabetes_dataset.loc[diabetes_dataset.age== '[80-90)','age'] = 80;
diabetes_dataset.loc[diabetes_dataset.age== '[90-100)','age'] = 90;
diabetes_dataset.age = diabetes_dataset.age.astype(np.int32)

diabetes_dataset.loc[diabetes_dataset.max_glu_serum== 'None','max_glu_serum'] = 0;
diabetes_dataset.loc[diabetes_dataset.max_glu_serum== 'Norm','max_glu_serum'] = 100;
diabetes_dataset.loc[diabetes_dataset.max_glu_serum== '>200','max_glu_serum'] = 200;
diabetes_dataset.loc[diabetes_dataset.max_glu_serum== '>300','max_glu_serum'] = 300;
diabetes_dataset.max_glu_serum = diabetes_dataset.max_glu_serum.astype(np.int32)


diabetes_dataset.loc[diabetes_dataset.A1Cresult== 'None','A1Cresult'] = 0;
diabetes_dataset.loc[diabetes_dataset.A1Cresult== 'Norm','A1Cresult'] = 5;
diabetes_dataset.loc[diabetes_dataset.A1Cresult== '>7','A1Cresult'] = 7;
diabetes_dataset.loc[diabetes_dataset.A1Cresult== '>8','A1Cresult'] = 8;
diabetes_dataset.A1Cresult = diabetes_dataset.A1Cresult.astype(np.int32)


diabetes_dataset.loc[diabetes_dataset.change== 'No','change'] = 0;
diabetes_dataset.loc[diabetes_dataset.change== 'Ch','change'] = 1;
diabetes_dataset.change = diabetes_dataset.change.astype(np.int8)



diabetes_dataset.loc[diabetes_dataset.diabetesMed== 'No','diabetesMed'] = 0;
diabetes_dataset.loc[diabetes_dataset.diabetesMed== 'Yes','diabetesMed'] = 1;
diabetes_dataset.diabetesMed = diabetes_dataset.diabetesMed.astype(np.int8)


medications = ["metformin", "repaglinide", "nateglinide", "chlorpropamide", "glimepiride", "acetohexamide", "glipizide", "glyburide", "tolbutamide", "pioglitazone", "rosiglitazone", "acarbose", "miglitol", "troglitazone", "tolazamide", "examide", "citoglipton", "insulin", "glyburide-metformin", "glipizide-metformin", "glimepiride-pioglitazone", "metformin-rosiglitazone", "metformin-pioglitazone"]

for med in medications:
    diabetes_dataset.loc[diabetes_dataset[med] == 'No', med] = -20;
    diabetes_dataset.loc[diabetes_dataset[med] == 'Down', med] = -10;
    diabetes_dataset.loc[diabetes_dataset[med] == 'Steady', med] = 0;
    diabetes_dataset.loc[diabetes_dataset[med] == 'Up', med] = 10;
    diabetes_dataset[med] = diabetes_dataset[med].astype(np.int32)
    

categoricals = ['gender']



for c in categoricals:
    diabetes_dataset[c] = pd.Categorical(diabetes_dataset[c]).codes

In [6]:
diabetes_dataset.loc[diabetes_dataset.readmitted != 'NO','readmitted'] = 0;
diabetes_dataset.loc[diabetes_dataset.readmitted == 'NO','readmitted'] = 1;

#diabetes_dataset.loc[diabetes_dataset.readmitted != '<30','readmitted'] = 0;
#diabetes_dataset.loc[diabetes_dataset.readmitted == '<30','readmitted'] = 1;
diabetes_dataset.readmitted = diabetes_dataset.readmitted.astype(np.int8)

In [7]:
# Assign X and Y values
y = diabetes_dataset.readmitted
X = diabetes_dataset.drop('readmitted', axis=1)

In [8]:
diabetes_dataset.tail(5)

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
101761,1,70,1,3,7,3,51,0,16,0,...,-20,-10,-20,-20,-20,-20,-20,1,1,0
101762,0,80,1,4,5,5,33,3,18,0,...,-20,0,-20,-20,-20,-20,-20,0,1,1
101763,1,70,1,1,7,1,53,0,9,1,...,-20,-10,-20,-20,-20,-20,-20,1,1,1
101764,0,80,2,3,7,10,45,2,21,0,...,-20,10,-20,-20,-20,-20,-20,1,1,1
101765,1,70,1,1,7,6,13,3,3,0,...,-20,-20,-20,-20,-20,-20,-20,0,0,1

In [9]:
print(X.shape)
print(y.shape)

(101766, 40)
(101766,)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(76324, 40)
(25442, 40)
(76324,)
(25442,)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

In [ ]:
# try K=1 through K=25 and record testing accuracy
k_range = list(range(1, 26))
scores = []
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append(metrics.accuracy_score(y_test, y_pred))

In [ ]:
# import Matplotlib (scientific plotting library)
import matplotlib.pyplot as plt

# allow plots to appear within the notebook
%matplotlib inline

# plot the relationship between K and testing accuracy
plt.plot(k_range, scores)
plt.xlabel('Value of K for KNN')
plt.ylabel('Testing Accuracy')

In [ ]:
scores

In [14]:
# import the class
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train, y_train)

# predict the response values for the observations in X
logreg.predict(X_train)

y_pred = logreg.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.621806461756

In [13]:
# import the class
from sklearn.linear_model import SGDClassifier
from sklearn import metrics

# instantiate the model (using the default parameters)
svm = SGDClassifier()

# fit the model with data
svm.fit(X_train, y_train)

# predict the response values for the observations in X
svm.predict(X_train)

y_pred = svm.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

C:\Users\brian\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:84: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

0.512970678406